<template id="file-item-template">
    <div class="file-item px-4 py-2 flex items-center justify-between">
        <div class="flex items-center gap-4">
            <img src="/assets/img/file-dir-icon.svg" width="20" height="auto" alt="file icon">
            <div>
                <p class="text-sm text-gray-700 file-name">Filename placeholder</p>
                <p class="text-xs text-gray-500 file-size">Filesize placeholder</p>
            </div>
        </div>
        <button type="button" class="remove-file-preview p-1 hover:bg-accent rounded-full cursor-pointer">
            <img class="pointer-events-none" src="/assets/img/x-close-icon.svg" width="16" height="auto" alt="remove">
        </button>
    </div>
</template>