<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head", { title: "Simple Drive Dashboard" }) %>

    <body>
        <%- include("../partials/toast") %>
            <h1>Dashboard page</h1>
    </body>

</html>