<div class="pt-6 pb-10">
    <div class="flex gap-12 text-silence text-sm min-h-[34px]">
        <a class="flex items-center gap-2" href="/">
            <img src="/assets/img/leftshevron-icon.svg" width="18" height="auto" alt="">
            <span>Back</span>
        </a>
        <ul class="flex items-center">
            <li>
                <a class="flex items-center gap-2" href="#">
                    <img src="/assets/img/root-box.svg" width="18" height="auto" alt="">
                    <span>Root</span>
                </a>
            </li>
            <li class="before:content-['/'] before:mx-2">
                <a href="#">Documents</a>
            </li>
            <li class="text-black before:content-['/'] before:mx-2 before:text-silence">
                <a href="#">Music</a>
            </li>
        </ul>
    </div>
</div>