<div id="dropfile" class="relative border-2 border-dashed border-gray-300 rounded-lg p-8 text-center mb-8">
    <form class="flex flex-col items-center gap-2">
        <img src="/assets/img/upload-icon.svg" width="24" height="auto" alt="">
        <p class="text-gray-700">Drag and drop files here</p>
        <p class="text-sm text-silence">or</p>
        <label for="ufile" class="text-blue-600 hover:text-blue-500 text-sm cursor-pointer">Browse Files</label>
        <input class="hidden" type="file" id="ufile" name="ufile" multiple
            accept="image/*, audio/*, application/*, video/mp4, .pdf, .doc, .docx, .xls, .xlsx, .txt .odt .gif .tiff .rtf .md">
    </form>
</div>
<div id="file-preview-container" class="hidden bg-white rounded-lg shadow mb-8">
    <div class="px-4 py-2 border-b border-gray-200">
        <div class="flex justify-between items-center">
            <h3 class="text-base font-semibold text-gray-700">Files Preview</h3>
            <button
                class="inline-flex justify-center px-3 py-1.5 items-center gap-2 cursor-pointer border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-indigo-400 hover:bg-indigo-500">
                <svg class="confirm-spinner hidden mr-2 size-5 animate-spin text-white"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                        d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                    </path>
                </svg>
                <span>Confirm Upload</span>
            </button>
        </div>
    </div>
    <div id="file-preview-list" class="divide-y divide-gray-200"></div>
</div>
<%- include("templates/previewUploadTemplate") %>