<%# Tree folder structure templates %>
    <template id="folder-node">
        <div class="folder-group flex flex-col text-gray-500">
            <button
                class="flex w-full gap-1 items-center justify-start px-2 py-1 transition-colors rounded-md hover:bg-accent/60 hover:text-black cursor-pointer">
                <img class="chevron" src="/assets/img/tree-closed.svg" width="16" height="auto" alt="">
                <img src="/assets/img/tree-subfolder.svg" width="16" height="auto" alt="">
                <span class="node-name text-sm text-gray-500 truncate">Folder Name</span>
            </button>
            <div
                class="children-group relative flex flex-col hidden before:content-[''] before:absolute before:top-0 before:bottom-0 before:left-4 before:w-[1px] before:bg-blue-200">
            </div>
        </div>
    </template>
    <template id="file-node">
        <div class="file-group flex flex-col text-gray-500 relative before:content-[''] before:absolute before:top-1/2 before:w-[10px] before:h-[1px] before:bg-blue-200 before:transform before:-translate-y-1/2"">
            <div
                class=" flex w-full gap-1.5 items-center justify-start px-3 py-1">
            <img src="/assets/img/file-dir-icon.svg" width="16" height="auto" alt="">
            <span class="node-name text-sm text-gray-500 truncate">File Name</span>
        </div>
        </div>
    </template>

    <%# Tree section %>
        <section id="tree" class="mt-4">
            <div class="w-full text-sm space-y-1">
                <div
                    class="min-h-10 flex items-center justify-start gap-2 px-4 py-2 font-medium transition-colors  w-full">
                    <img src="/assets/img/tree-folder.svg" width="18" height="auto" alt="">
                    <span class="text-sm text-gray-500">Root</span>
                </div>
            </div>
            <div id="tree-view" class="flex flex-col space-y-1"></div>
        </section>