<div class="divide-y divide-gray-200 text-gray-700">
    <div
        class="grid grid-cols-[minmax(200px,3fr)_minmax(100px,2fr)_minmax(150px,3fr)_minmax(80px,1fr)] *:p-2 *:content-center hover:bg-gray-100">
        <div class="justify-self-start ml-2 flex items-center gap-3">
            <img src="/assets/img/folder-dir-icon.svg" width="18" height="auto" alt="">
            <span>Documents</span>
        </div>
        <div class="text-gray-500">--</div>
        <div class="text-gray-500">2024-03-15</div>
        <div class="flex gap-2 justify-self-center">
            <button class="p-1 hover:bg-accent cursor-pointer rounded-full">
                <img src="/assets/img/share-dir-icon.svg" width="18" height="auto" alt="">
            </button>
            <button class="p-1 hover:bg-accent cursor-pointer rounded-full">
                <img src="/assets/img/actions-dir-icon.svg" width="18" height="auto" alt="">
            </button>
        </div>
    </div>
    <div
        class="grid grid-cols-[minmax(200px,3fr)_minmax(100px,2fr)_minmax(150px,3fr)_minmax(80px,1fr)] *:p-2 *:content-center hover:bg-gray-100">
        <div class="justify-self-start ml-2 flex items-center gap-3">
            <img src="/assets/img/folder-dir-icon.svg" width="18" height="auto" alt="">
            <span>Music</span>
        </div>
        <div class="text-gray-500">--</div>
        <div class="text-gray-500">2024-03-14</div>
        <div class="flex gap-2 justify-self-center">
            <button class="p-1 hover:bg-accent cursor-pointer rounded-full">
                <img src="/assets/img/share-dir-icon.svg" width="18" height="auto" alt="">
            </button>
            <button class="p-1 hover:bg-accent cursor-pointer rounded-full">
                <img src="/assets/img/actions-dir-icon.svg" width="18" height="auto" alt="">
            </button>
        </div>
    </div>
    <div
        class="grid grid-cols-[minmax(200px,3fr)_minmax(100px,2fr)_minmax(150px,3fr)_minmax(80px,1fr)] *:p-2 *:content-center hover:bg-gray-100">
        <div class="justify-self-start ml-2 flex items-center gap-3">
            <img src="/assets/img/file-dir-icon.svg" width="18" height="auto" alt="">
            <span>Report.pdf</span>
        </div>
        <div class="text-gray-500">2.5 MB</div>
        <div class="text-gray-500">2024-02-10</div>
        <div class="flex gap-2 justify-self-center">
            <button class="p-1 hover:bg-accent cursor-pointer rounded-full">
                <img src="/assets/img/share-dir-icon.svg" width="18" height="auto" alt="">
            </button>
            <button class="p-1 hover:bg-accent cursor-pointer rounded-full">
                <img src="/assets/img/actions-dir-icon.svg" width="18" height="auto" alt="">
            </button>
        </div>
    </div>